@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,800i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Mono&display=swap');

body {
	margin: 0px;
}

.container {
    width: 960px;
    margin: auto;
}

p {
    line-height: 2em;
    text-align: justify;
}

.logo {
    font-family: 'Fira Sans', sans-serif;
    font-size: 40px;
}

.slogan {
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.25em;
}

.menu-container {
    background-color: green;
    color: #fff;
}

.menu-container a {
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    color: #fff;
    font-family: 'Fira Sans', sans-serif;
}

.menu-container a:hover, a.active {
    background-color: #ff6600;
}

.banner-container {
    background-color: #1b140e;
    color: #fff;
    font-family: 'Fira Sans', sans-serif;
    text-align: justify;
    line-height: 2em;
    padding: 20px;
}

.banner-container .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 10px;
}

.banner-container a {
    color: #ff0000;
}

.banner-container a.download-btn {
    color: #fff;
    display: inline-block;
    background: green;
    padding: 10px 20px;
    text-decoration: none;
}

.banner-container a.download-btn:hover {
    opacity: 0.7;
}

.centred-heading {
    height: 1.3rem;
    padding: 20px 0px;
    text-align: center;
    font-weight: bold;
}

.footer-container1 {
    background: #3d3d3d;
    font-family: 'Fira Sans', sans-serif;
    padding: 15px;
    color: #fff;
}

.footer-container2 {
    background: #1b140e;
    font-family: 'Fira Sans', sans-serif;
    color: #fff;
    line-height: 2em;
}

.footer-container2 .container {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    gap: 20px;
    color: #fff;
}

.footer-container2 a {
    color: #ff0000;
    text-decoration: none;
}

.footer-container2 a:hover {
    color: #00ff00;
    text-decoration: underline;
}

.main-content {
    font-family: 'Fira Sans', sans-serif;
    padding: 20px 0px;
}

ul, dt, dd {
    line-height: 2em;
}

dt, dd {
    text-align: justify;
}

dt {
    font-weight: bold;
}

dd {
    margin-bottom: 30px;
}

.img-responsive {
    width: 100%
}

.page-heading-container {
    background: #1b140e;
    color: #fff;
    padding: 20px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
}

.download-panel {
    background-color: #1b140e;
    padding: 20px;
    text-align: center;
}

.download-panel .heading {
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 2.5em;
    color: #ffffff;
}

.download-panel .download-btn {
    background-color: green;
    padding: 10px 25px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
}

.download-panel .download-btn:hover {
    opacity: 0.7;
}

pre {
    display: block;
    background-color: black;
    color: #00ff00;
    padding: 20px;
    font-size: 1rem;
    font-family: 'Fira Mono', monospace;
    line-height: 2em;
}

li {
    line-height: 2em;
}

.main-content a {
    color: blue;
}

.main-content a:hover {
    color: red;
}

.no-bullet {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.head {
    background-color: #1b140e;
    color: #fff;
    padding: 10px;
}

.odd {
    background-color: #eeeeee;
    padding: 10px;
}

.even {
    background-color: darkgray;
    padding: 10px;
}